body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}
header {
    background-color: #f4f4f4;
    padding: 20px;
}
section div {
    margin: 10px 0;
}

section{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

a {
    text-decoration: none;
    color: #333;
}
a:hover {
    color: rgb(15, 15, 15);
}

.proyect{
    margin-top: 1em;
}

.proyect p {
    max-width: 70%;
}